@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --charleston-green: #29292b;
  --charleston-green-dark: #2f2d2b;
  --dark-medium-grey: #232323;
  --platinum: #e3e1e1;
  --yellow: #ffc107;
  --aurora: #66717e;
  --gunmetal: #26343e;
  --japanese-indigo: #274060;
  --dazzle-blue: #335c81;
  --blue-sapphire: #1f5673;
  --spanish-grey: #99928b;
  --independence: #3a516e;
  --cerulean: #007EA7;
  --green-sheen: #70C1B3;
  --eerie-black: #161925;
  --mandarin: #F37748;
  overflow-x: hidden;
  overflow-y: hidden;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
